@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	position: relative;
	min-height: 100vh;
	background: url(letter.jpg);
	background-size: cover;
	background-position: center;
}

.container h1{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 15px;
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
	animation: animate 2s 1;
}

.container .image-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
	animation: animate 2s 1;
}

.container .image-container .image{
	height: 353.91px;
	width: 750px;
	border: 10px solid #FFF;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	overflow: hidden;
	cursor: pointer;
	animation: animate 2s 1;
}

.container .image-container .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .2s linear;
}

.container .image-container .image:hover img{
	transform: scale(1.0459871236);
}

.container .popup-image{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .88);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.container .popup-image span{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 40px;
	font-weight: 40px;
	font-weight: bolder;
	color: #FFF;
	cursor: pointer;
	z-index: 100;
}

.container .popup-image img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #FFF;
	border-radius: 5px;
	width: 1200px;
	object-fit: cover;
}

@media (max-width:1268px){
	.container .popup-image img{
		width: 95%;
	}
}

@keyframes animate{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}